*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    background-color: black;
    backdrop-filter: blur(10px);
}
.group{
    height: fit-content;
    width: 45vw;
    margin-top: 10vw;
    
}
.subgroup{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:70vh;
    width:50vw;
    background-color:skyblue;
    border:3px solid blue;
    border-radius: 10px;
}
.display{
    display:grid;
    grid-template-rows: 1fr 0.45fr; 
    margin:5% 5% auto 5%;
    box-shadow: rgba(10, 10, 10,0.5);
    font-size:large;

}
#calculate{
    height: 15vh;
    width: 45vw;
    border-radius:10px 10px 0px 0px;
    text-align: right ;
    padding-top:93px;
    box-shadow: 0px 40px 30px rgba(0, 0, 10,0.5);
    font-size: 1.8em;
    color:black;
}
#result{
    width:45vw;
    border-radius: 0px 0px 2px 5px;
    text-align: right;
    outline:none;
    padding-right: 8px;
    font-size: larger;
    color:black;
    

}
.numbers{
    display:grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(5,auto);
    row-gap: 4px;
    column-gap:2px;
    margin:5% 5% auto 5%;

}
.num{
    height:auto;
    width:5vw;
    height:6vh;
}

